@import 'styles/variables';

.landing {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
  padding: $spacing-md;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  box-sizing: border-box;
}
