<div class="league-page">
  <app-loader [loading]="loading"></app-loader>

  <div class="league-container" *ngIf="!loading || league">
    <!-- League Header -->
    <div class="league-header">
      <img
        [src]="leaguePicture ? leaguePicture : 'assets/img/sleeper.jpeg'"
        (error)="leaguePicture = 'assets/img/sleeper.jpeg'"
        alt="League Picture"
        class="league-pic"
      />
      <h1 class="league-name">{{ leagueName }}</h1>
    </div>

    <!-- Child route surface -->
    <router-outlet></router-outlet>
  </div>
</div>
